<div class = "books index">
    <h2>Home Page</h2>
    <%= link_to("+ Add New Book +", new_book_path, :class => 'action new')%>
    <table class="listing" summary="Book Listings">
        <tr class="header">
            <th style="padding:0 15px;">ID</th>
            <th style="padding:0 15px;">Title</th>
            <th style="padding:0 15px;">Author</th>
            <th style="padding:0 15px;">Genre</th>
            <th style="padding:0 15px;">Price</th>
            <th style="padding:0 15px;">Published Date</th>
            <th style="padding:0 15px;">Actions</th>
        </tr>

        <% @books.each do |book| %>
        <tr>
            <td style="padding:0 15px;"><%= book.id %></td>
            <td style="padding:0 15px;"><%= book.title %></td>
            <td style="padding:0 15px;"><%= book.author %></td>
            <td style="padding:0 15px;"><%= book.genre %></td>
            <td style="padding:0 15px;"><%= book.price %></td>
            <td style="padding:0 15px;"><%= book.published_date %></td>
            <td style="padding:0 15px;"class="actions">
                <%= link_to("Show", book_path(book), :class => 'action show') %>
                <%= link_to("Edit", edit_book_path(book), :class => 'action edit') %>
                <%= link_to("Delete", delete_book_path(book), :class => 'action delete') %>
            </td>
        </tr>
        <% end %>
    </table>
</div>

<br/>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
